{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for post in posts %}
    	<div class = "post">
    		<div class="date">
    			<p>published: {{post.published_date}}<!-- 14.06.2014, 12:14 --></p>
    		</div>
    		<h2><a href="">{{post.title}}<!-- My first post --></a></h2>
    		<p>{{ post.text|linebreaksbr }} Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <!-- {{ posts }} -->
		</div>	
		<div class = "post">
			<div class="date">
				<p>published: {{post.published_date}}<!-- 14.06.2014, 12:14 --></p>
			</div>
			<h2><a href="">{{post.title}}<!-- My second post --></a></h2>
			<p>{{ post.text|linebreaksbr }}  Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
		<!-- {{ posts }} -->
		</div>
	{% endfor %}
{% endblock %}
